body {
  color: #333;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 18px;
  line-height: 24px;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
.popup {
  font-size: 125%;
  overflow: auto;
  max-height: 300px;
}
.popup strong {
  display: block;
}
.popup ul {
  padding: 0 0 0 15px;
  margin:  10px 0;
}
.popup ul li {
  color: #666;
}
.popup ul li time {
  font-style: italic;
  color: #999;
}
#checkins_list {
  display: none;
  position: fixed;
  top: 0;
  right: -25px;
  width: 40%;
  max-width: 200px;
  height: 100%;
  background: rgba(0, 0, 0, 0.1);
  color: #555;
  overflow-y: scroll;
  overflow-x: hidden;
  z-index: 500;
}
#checkins_list:hover {
  right: 0;
  background: rgba(0, 0, 0, 0.5);
  color: #ccc;
}
#checkins_list ul {
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 80%;
  color: inherit;
}
#checkins_list ul li {
  margin: 0;
  padding: 5px 10px 5px 5px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
  white-space: nowrap;
  color: inherit;
  cursor: pointer;
}
#checkins_list ul li:hover{
  background-color: rgba(0,0,0,0.5);
  color: #fff;
}
#checkins_list ul li strong {
  display: block;
  font-size: 120%;
}
#checkins_list:hover, #checkins_list ul li:hover {
  -moz-transition-property: background right; -moz-transition-duration: .25s;
  -webkit-transition-property: background right; -webkit-transition-duration: .25s;
  transition-property: background right; transition-duration: .25s;
}